body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.bhead {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: white;
  margin: 0;
}
.header-buttons {
  display: flex;
}
.bhead button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.bhead button:hover {
  background-color: red;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.white-block {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.hero-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.hero-section h3 {
  font-size: 18px;
  color: #666;
  margin-top: 0;
}

.content {
  background-image: url('voiture2.jpg');
}